<h1>ToDo's</h1>

<%= link_to "ADD NEW", new_listing_path %>

<%  @listings.each do |listing| %>

<ul>
  <li><%= link_to listing.description, listing_path(listing) %></li>
  <%= link_to "edit", edit_listing_path(listing) %>,
   <%= link_to "delete", listing, method: :delete, data: { confirm: "Are you sure?"} %>

</ul>

<% end %>


